<div class="p-5 text-center">

    <div class="container">
        <div class="row">

            <div class="col-sm my-auto text-left">
                <h1 class="mb-3">Contact Me</h1>
                <p class="mb-3 mt-3">Check out my LinkedIn. I’m currently looking for work and would love to hear from you about any opportunities. Click the button below to visit my GitHub. I have more examples of Ruby on Rails that include the use of the Devise gem and CRUD. There are also examples of SQL Databases that include Views, Queries, Security and Roles.</p>
                <a class="btn btn-primary mb-3" href="" role="button">My LinkedIn <%= inline_svg_tag "linkedin.svg", class: "ButtonIcon" %></a>
                <a class="btn btn-outline-primary mb-3" href="" role="button">My GitHub <%= inline_svg_tag "github.svg", class: "ButtonIcon" %></a>
            </div>

            <div class="col-sm">
                 <%= image_tag "Test.png", height: 350 %>
            </div>

        </div>
    </div>
</div>

<div class="p-5 text-left bg-light">

    <div class="container">
            <div class="row">

                <div class="card mb-3 w-100">
                    <h5 class="card-header">My Github Repositories</h5>
                    <div class="card-body">

                    <ol class="list-group list-group-numbered">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Ruby On Rails Devise and Form</div>
                            <a href="https://github.com/GeorgeClaridge/RubyOnRailsFriendsApp" class="link-primary">Click Here To View</a>
                        </div>
                        <span class="badge"><%= inline_svg_tag "gem.svg", class: "NoteLogo" %></span>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Ruby On Rails Svg Inline and Form</div>
                            <a href="https://github.com/GeorgeClaridge/RubyOnRails_SVG-Inline" class="link-primary">Click Here To View</a>
                        </div>
                        <span class="badge"><%= inline_svg_tag "gem.svg", class: "NoteLogo" %></span>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">SQL Hotel Example</div>
                            <a href="https://github.com/GeorgeClaridge/Hotel-SQL" class="link-primary">Click Here To View</a>
                        </div>
                        <span class="badge"><%= inline_svg_tag "filetype-sql.svg", class: "NoteLogo" %></span>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">SQL ContactCare Example</div>
                            <a href="https://github.com/GeorgeClaridge/HealthTech-Sql" class="link-primary">Click Here To View</a>
                        </div>
                        <span class="badge"><%= inline_svg_tag "filetype-sql.svg", class: "NoteLogo" %></span>
                        </li>

                    </ol>

                    </br>

                    <a href="https://github.com/GeorgeClaridge?tab=repositories" class="btn btn-primary me-md-2" type="button" role="button">All Repositories</a>
                    </div>
                </div>

            </div>
    </div>
</div>


