<div class="TopBackground px-5 pt-5">
    <div class="text-center">

        <div class="container">
            <div class="row">

                <div class="col-sm my-auto text-left">                    
                    <h1 class="mb-3">Fake Company</h1>
                    <p class="mb-3 mt-3">This is going to be alot of text.This is going to be alot of text.This is going to be alot of text.This is going to be alot of text.This is going to be alot of text.This is going to be alot of text.This is going to be alot of text.This is going to be alot of text. This is going to be alot of text.This is going to be alot of text.This is going to be alot of text.This is going to be alot of text. This is going to be alot of text.This is going to be alot of text.This is going to be alot of text.This is going to be alot of text.</p>
                    <a class="btn btn-primary mb-3" style="width: 120px" href="" role="button">Learn More</a>
                    <%= link_to "Contact Me", home_contact_path, class:'btn btn-outline-primary mb-3', style: "width: 120px" %> 
                </div>

                <div class="col-md-4 my-auto text-center">
                    <%= image_tag "ShapeGear3.png", height: 350 %>
                </div>

            </div>
        </div>
        
    </div>
</div>


<div class="container mt-n3">
    <div class="row">

        <div class="col-md-4 my-auto text-center">
        <%= image_tag "ShapePerson.png" , :class => "img-fluid rounded-start"%>
        </div>

        <div class="col-sm my-auto text-left">                    
            <h1 class="mb-3">Fake Company</h1>
            <p class="mb-3 mt-3">This is going to be alot of text.This is going to be alot of text.This is going to be alot of text.This is going to be alot of text.This is going to be alot of text.This is going to be alot of text.This is going to be alot of text.This is going to be alot of text. This is going to be alot of text.This is going to be alot of text.This is going to be alot of text.This is going to be alot of text. This is going to be alot of text.This is going to be alot of text.This is going to be alot of text.This is going to be alot of text.</p>
            <a class="btn btn-primary mb-3" style="width: 120px" href="" role="button">Learn More</a>
            <%= link_to "Contact Me", home_contact_path, class:'btn btn-outline-primary mb-3', style: "width: 120px" %> 
        </div>

    </div>
</div>


<div class="GrayBackground pb-5 px-5 mt-n3">
    <div class="p-5 text-center">

        <div class="container">
            <div class="row">

                <div class="col-sm my-auto text-left">
                    <h1 class="mb-3">Fake Company</h1>
                    <p class="mb-3 mt-3">This is going to be alot of text.This is going to be alot of text.This is going to be alot of text.This is going to be alot of text. This is going to be alot of text.This is going to be alot of text.This is going to be alot of text.This is going to be alot of text. This is going to be alot of text.This is going to be alot of text.This is going to be alot of text.This is going to be alot of text.</p>
                    <a class="btn btn-primary mb-3" href="" role="button">Contact Here</a>
                </div>

                <div class="col-sm">
                    <%= image_tag "Group.png", height: 300 %>
                </div>

            </div>
        </div>

    </div>
</div>


<div class="Slant">
</div>

<div class="BottomBackground mt-n3"> 
    
    <div class="p-5 text-center">

        <div class="container">

            <div class="col-sm my-auto text-center">
                <h1 class="mb-3">FAKE COMPANY</h1>
            </div>

        </div>

    </div>

</div>

